@import "../../variables";

.login {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

    &__container {
        background-color: $black-secondary;
        padding: 2rem;
        margin-inline: 1rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            object-fit: contain;
        }

        button {
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            margin-block: 0.5rem 1rem;
            &:focus {
                outline: none;
            }
        }

        .error-box {
            margin-block: 10px;
            margin-block-end: 15px;

            .alert-customize {
                margin-bottom: 0;
                display: grid;
                grid-template-rows: 20px 1fr;
                padding: 0.4rem;
                padding-right: 1rem;
                width: 500px;
                button.btn-close {
                    grid-row: 1;
                    margin: 0;
                    padding: 0;
                    position: static;
                    justify-self: end;
                }
                span {
                    grid-row: 2;
                    font-size: 0.85rem;
                }
            }
        }
    }
}
