@import "../../variables";
@import "../../mixins";

.video {
    margin-block-end: 1rem;
    padding: 0.7rem;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;

    &__top {
        position: relative;
        margin-block-end: 0.5rem;
        min-height: 100px;

        img {
            width: 100%;
        }
        .lazy-load-image-background {
            width: 100%;
        }
        &__duration {
            position: absolute;
            bottom: 0.3rem;
            right: 0.3rem;
            padding: 0.2rem;
            background-color: #080808ec;
            border-radius: 3px;
        }
    }

    &__title {
        color: #fff;
        margin-block-end: 0.1rem;

        .text {
            display: block;
            text-decoration: none;
            @include text-ellipsis;
            margin: 0;
        }
    }

    &__details {
        display: flex;
        align-items: center;

        span + span {
            margin-inline-start: 0.5rem;
        }
    }

    &__channel {
        display: flex;
        align-items: center;
        margin-block: 0.5rem;

        img {
            display: block;
            border-radius: 50%;
            margin-inline-end: 0.5rem;
            cursor: pointer;
        }

        p {
            margin-block-end: 0;
        }
    }
}
