@import "../../variables";

.sidebar {
    background: $black-secondary;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 90vh;
    padding-block-start: 2rem;
    transition: transform 400ms ease-out;

    position: sticky;
    top: 10vh;
    left: 0;

    &.open {
        transform: translateX(0);
    }

    ul {
        width: inherit;
        padding-inline: 0;

        li {
            display: flex;
            align-items: center;
            padding: 0.6rem 1.5rem;
            margin-block: 0.2rem;
            cursor: pointer;

            span {
                margin-inline-start: 1rem;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.4px;
            }

            &:hover {
                background-color: $border-color;
            }
        }

        hr {
            background: $border-color;
        }
    }
}

@media (max-width: $breakpoint-medium) {
    .sidebar {
        width: 90px;
        li {
            justify-content: center;

            span {
                display: none;
            }
        }
    }
}

@media (max-width: $breakpoint-small) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
}
