.top-layer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    pointer-events: all;
}
